.header {
    display: flex;
    width: 1fr;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 8rem;
    transition: transform 0.1;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

