<header class="header">
    <a name="home">
    <div class="row topo">
        <img class="logo" src="/assets/img/caveiraLogo.svg" >
    </div>
    </a>
    <div class="row tarja">
        <div class="container">
            <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed navbar-right encolhido"><span class="glyphicon glyphicon-menu-hamburger"> </span></button>
            <div class=" collapse navbar-collapse">
                <ul class="text-center">
                    <li class="menu"><a href="#home" class="btn btn-default">Home</a></li>
                    <li class="menu"><a href="#picnic" class="btn btn-default">Picnic</a></li>
                    <li class="menu"><a href="#dicas" class="btn btn-default">Dicas</a></li>
                    <li class="menu"><a href="#fotos" class="btn btn-default">Fotos</a></li>
                    <li class="menu"><a href="#local" class="btn btn-default">Local</a></li>
                    <li class="menu"><a href="#como-chegar" class="btn btn-default">Como Chegar?</a></li>
                    <li class="menu"><a href="#sociais" class="btn btn-default">Sociais</a></li>
                </ul>
            </div>

        </div>	
    </div>
</header>