<div class="container">
    <h1>Sobre o presente de aniversário</h1>

    <!-- Seção de Presentes -->
    <div class="present-section">
        <div class="info">
            <h2>Presente</h2>
            <p>Em vez de presentes físicos, estou pedindo um presente especial via PIX.</p>
            <p>O valor mínimo sugerido é de 50 reais.</p>    
        </div>

        <div class="pix-info">
            <p>Código PIX:</p>
            <div class="pix-code">fcdr2011&#64;gmail.com</div>
            <p>Favor incluir o seu nome na descrição para que eu possa te agradecer!</p>
        </div>
    </div>
</div>