<div class="container pagina">
    <div class="informacoes"><br/>
        <div class="descricao">
            <h5 class="card text-bg-success card-body">
                Se você chegou até aqui é porque está convidado para meu aniversário, então fique atento às informações a seguir a não deixe de utilizar as outras abas.
            </h5>
        </div>   
        <div class="descricao">
            <h4>
                Inicio: 9h
            </h4>
            <p>A partir das 9 estarei na chácara para recepcionar quem quiser ir mais cedo.
                E tambem iniciando os preparativos para o churrasco que começa às 11h.
            </p>
            <p></p>
        </div>       
        <div class="descricao">
            <h4>
                Churrasco: 11h
            </h4>
            <p>A partir das 11 já haverá comida pronta e tentarei manter comida disponível para o resto dia inteiro. Cardápio não disponível. Intolerantes, levem sua lactase.
               
            </p>
            <p></p>
        </div>  
        <div class="descricao">
            <h4>
                Banda: 17h
            </h4>
            <p>A Banda Alto Contraste irá começar a tocar às 17h para coincidir com o por do sol durante seu show. 
                Quem não gostar das músicas da banda ou tiver alguma crítica com relação a qualquer outra coisa, guarde pra si.
            </p>
            <p></p>
        </div>  
        <div class="descricao">
            <h4>
                Karaokê: 18:30h
            </h4>
            <p>Haverá caixa de som, microfone e iluminação para o karaoke até as 23h.
                Para cantar no karaokê haverá alguem controlando e ajudando com a escolha da música ou um aplicativo gerenciando(ainda não finalizei o app, mas quem sabe...)
            </p>
            <p></p>
        </div>  
        <div class="descricao">
            <h4>
                Encerramento: 09h (dia seguinte)
            </h4>
            <p>Peço a todos que se programem para sair da casa antes das 9 da manhã do domingo, pois é o horario que estarei devolvendo a casa.
            </p>
            <p></p>
        </div>  
    </div>
    <div class="geral"><br/>
        <div class="card text-bg-danger mb-3">
            <div class="card-body">
              <h5 class="card-title">Sobre bebidas</h5>
              <p class="card-text">A partir das 18hr haverá alguem para fazer drinks para quem quiser beber à vontade até às 10h. Cervejas: Levem a sua</p>
            </div>
        </div>
        <div class="event">
            <h2>Início</h2>
            <p><span class="time">Data e Hora:</span> 17 de agosto de 2024, 9:00 AM</p>
        </div>

        <div class="event">
            <h2>Churrasco</h2>
            <p><span class="time">Horário:</span> 11:00 AM - 4:00 PM</p>
        </div>

        <div class="event">
            <h2>Banda Alto Contraste</h2>
            <p><span class="time">Horário:</span> 5:00 PM - 6:30 PM</p>
        </div>

        <div class="event">
            <h2>Karaokê</h2>
            <p><span class="time">Horário:</span> 6:30 PM - 11:00 PM</p>
        </div>

        <div class="event">
            <h2>Encerramento</h2>
            <p><span class="time">Data e Hora:</span> 18 de agosto de 2024, 9:00 AM</p>
        </div>
    </div>    
</div>

