<div class="geral"><br/>
    <div class="container">   
        <div class="event">
            <h2>Início</h2>
            <p><span class="time">Data e Hora:</span> 17 de agosto de 2024, 9:00 AM</p>
        </div>

        <div class="event">
            <h2>Churrasco</h2>
            <p><span class="time">Horário:</span> 11:00 AM - 4:00 PM</p>
        </div>

        <div class="event">
            <h2>Banda Alto Contraste</h2>
            <p><span class="time">Horário:</span> 5:00 PM - 6:30 PM</p>
        </div>

        <div class="event">
            <h2>Karaokê</h2>
            <p><span class="time">Horário:</span> 6:30 PM - 11:00 PM</p>
        </div>

        <div class="event">
            <h2>Encerramento</h2>
            <p><span class="time">Data e Hora:</span> 18 de agosto de 2024, 9:00 AM</p>
        </div>
    </div>    
</div>