<div class="geral container"><br/>
    <h5 class="mb-4">
        Bem vindo(a) ao site oficial do meu aniversário!!!
        Aqui você poderá sanar suas dúvidas sobre o evento.
    </h5>

    <div class="d-flex">

        <div class="col">
            <div>
                <div class="container">
                    <div class="photo">
                        <h1>Banda Alto Contraste</h1>
                        <img src="/assets/img/altoContraste.png" alt="Banda Alto Contraste">
                    </div>
            
                    <div class="description">
                        <p>A Banda Alto Contraste é conhecida por seu estilo musical único e enérgico. Com uma fusão de grandes nomes do pop rock, e do rock nacional, eles têm conquistado o público com suas performances ao vivo.</p>
                        <p>Para mais informações e atualizações, siga a banda no Instagram.</p>
                    </div>
            
                    <a href="https://www.instagram.com/bandaaltocontraste?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram-link" target="_blank">Alto Contraste no instagram</a>
                </div>
            </div>

        </div>
        
        <div class="col mb-3">
            <div class="photo">
                <h1>Chacara do Diow</h1>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.7097633643366!2d-39.9552253!3d-4.0794103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bfe100395a97c5%3A0x290b1260a283e851!2sCh%C3%A1cara%20do%20Diow!5e0!3m2!1spt-BR!2sbr!4v1722830892383!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        

    </div>
    
</div>