app-cabecalho {
    display: flex;
    font-family: Rock Salt;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.corpo {
    background-image: url("/assets/img/caveira2.png");
    font-size: large;
 }