
<div class="mb-3 container">
    <div class="mb-5">
        <h1 class="mb-3">Chacara do Diow</h1>
        <div class="gallery">
            <img src="/assets/img/frente-chacara.jpeg" alt="Foto 1">
            <img src="/assets/img/chacara1.jpeg" alt="Foto 2">
            <img src="/assets/img/chacara2.jpeg" alt="Foto 3">
            <img src="/assets/img/chacara3.jpeg" alt="Foto 4">
            <img src="/assets/img/chacara4.jpeg" alt="Foto 5">
        </div>
    </div>
    <div class="container d-flex">
        <h3>
            Após chegar ao local indicado no mapa, 
            seguir no mesmo caminho até chegar a chacara, 
            pois o mapa ainda não detectou o caminho até o local correto. 
            Porém não existe outro desvio, 
            então é só seguir no mesmo caminho até o local.
        </h3>
        <div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.7097633643366!2d-39.9552253!3d-4.0794103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bfe100395a97c5%3A0x290b1260a283e851!2sCh%C3%A1cara%20do%20Diow!5e0!3m2!1spt-BR!2sbr!4v1722830892383!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
