
<div class="container evento">
    <div class="description me-2">
        <h3>
            <p>A Banda Alto Contraste é conhecida por seu estilo musical único e enérgico. Com uma fusão de grandes nomes do pop rock, e do rock nacional, eles têm conquistado o público com suas performances ao vivo.</p>
            <p>Para mais informações e atualizações, siga a banda no Instagram.</p>
        </h3>
        <a href="https://www.instagram.com/bandaaltocontraste?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram-link" target="_blank">Alto Contraste no instagram</a>
    </div>
    <div class="photo">
        <h1>Banda Alto Contraste</h1>
        <img src="/assets/img/altoContraste.png" alt="Banda Alto Contraste">
    </div>
</div>
